<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{games.title}}</title>

    <link rel="stylesheet" href="/bower_components/semantic/dist/semantic.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>







  {{{body}}}





    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/semantic/dist/semantic.js" charset="utf-8"></script>
    <script src="/js/main.js" charset="utf-8"></script>
</body>
</html>
