<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{games.title}}</title>

    <link rel="stylesheet" href="/bower_components/semantic/dist/semantic.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>


<div class="ui container">
    <div class="ui text stackable menu">
        <div class="header item">

            <a href="/games">
            <img class="ui middle aligned small image" src="/images/devsay2.png">
            </a>        

        </div>
   

            <div class="right menu">
                <a href="/blog" class="item">Blog</a>
                <a href="/faq" class="item">FAQ</a>
                <a href="/about" class="item">About</a>

                        <div class="item">
                                <a class="ui red  button" href="/submit">
                                    Submit
                                </a>
                        </div>

            </div>

    </div>

</div>




  {{{body}}}





    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/semantic/dist/semantic.js" charset="utf-8"></script>
    <script src="/js/main.js" charset="utf-8"></script>
</body>
</html>
