<div class="container center-align">
  <div class="col 12">
    <h3>Dev Say Blog</h3>
  </div>
  <div class="col 12">
    <p class="light">Keep Up To date with Dev Skin</p>
  </div>
  
</div>
{{#each blogs}}
  <div class="container">

    
<div class="row">


      <div class="col s8 offset-s4 ">
      <span class="flow-text">

                 
 <blockquote>
   <a href="/blog/{{this.title2}}">
        <p class="und">{{this.title}}</p> 
    </a>
 </blockquote>
      </span>    
      </div>

</div>


  </div>
{{/each}}
