
{{#each blogs}}
    

<div class="ui two column centered grid">
  <div class="column">
     <h4>
        <a href="/blog/{{this.title2}}"> {{this.title}}</a>    
     </h4> 
  </div>

</div>

{{/each}}