<div class="ui container">


        <div class="ui three doubling stackable cards">

{{#each games}}
    


                <div class="red ui raised card">
                <div class="ui Massive image">
                <img src="http://lorempixel.com/800/800">
                </div>
                <div class="content">
                <div class="header">{{this.title}}</div>
                <div class="meta">
                    <a>Friends</a>
                </div>
                <div class="description">
                    Matthew is an interior designer living in New York.
                </div>
                </div>
                <div class="extra content">
                <span class="right floated">
                    Joined in 2013
                </span>
                <span>
                    <i class="game icon"></i>
                    {{this.units}}
                </span>
                </div>
            </div>

{{/each}}
        </div>


</div>