

<h2 class="ui center aligned icon header">
  <i class="circular users icon"></i>
  {{blogs.title}}
</h2>
  </div>
<div class="ui text container">
    <p class="flow-text">
        {{{blogs.body}}}
    </p>
</div>
</div>

