<h2 class="ui center aligned icon header">
  <i class="circular users icon"></i>
  {{games.title}}
</h2>


<div class="ui text container">
    <p class="flow-text">
        {{{games.body}}}
    </p>
</div>
            

