@import url('https://fonts.googleapis.com/css?family=Lora');

.carta{
    background: rgba(0, 0, 0, 0.6);
    font-weight: 800;
    position: relative;
    top: 40px;
}

.gro{
    font-weight: 600;
}



.txt{
    font-family: 'Lora', serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 1.70;
    letter-spacing: -.003em;
}

.parallax-container {
    height: 500px;
  }

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
      